@import 'materialize';
@import 'ember-cli-materialize';

.login-page {
  min-height: 1vh;
}

.login-form {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

main {
  margin-top: $collapsible-height;
}

.page-title {
  margin-top: 0;
}
