{{#md-navbar name='Sportsballz' homeRoute='dashboard' class='green darken-3'}}
  {{#link-to 'dashboard.invites' tagName='li'}}
    {{link-to 'Invites' 'dashboard.invites'}}
  {{/link-to}}

  <li>
    <a {{ action 'invalidateSession' }}>Logout</a>
  </li>
{{/md-navbar}}

<main>
  <div class="container">{{outlet}}</div>
</main>
